asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
Django==3.1.2
django-bootstrap4==2.3.1
django-crispy-forms==1.9.2
django-fontawesome==1.0
django-jquery==3.1.0
importlib-metadata==2.0.0
isort==5.6.4
lazy-object-proxy==1.4.3
markdown2==2.3.10
mccabe==0.6.1
pylint==2.6.0
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
zipp==3.4.0
